PORT=3001
GLOBAL_PREFIX='api'

CORS_ORIGIN='http://localhost:3000'
CORS_METHODS='GET,HEAD,PUT,PATCH,POST,DELETE,OPTIONS'

RAPID_URL='https://streaming-availability.p.rapidapi.com'
RAPID_API_KEY='YOUR_RAPID_API_KEY'